src/main/webapp/WEB-INF/wsdl/OrderWebService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions targetNamespace="http://orderWebService.eshop.ru/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://orderWebService.eshop.ru/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://orderWebService.eshop.ru/" schemaLocation="OrderWebService.xsd"/>
    </xsd:schema>
  </types>
  <message name="getAllOrders">
    <part name="parameters" element="tns:getAllOrders"/>
  </message>
  <message name="getAllOrdersResponse">
    <part name="parameters" element="tns:getAllOrdersResponse"/>
  </message>
  <message name="getOrderDetails">
    <part name="parameters" element="tns:getOrderDetails"/>
  </message>
  <message name="getOrderDetailsResponse">
    <part name="parameters" element="tns:getOrderDetailsResponse"/>
  </message>
  <message name="setTrack">
    <part name="parameters" element="tns:setTrack"/>
  </message>
  <message name="setTrackResponse">
    <part name="parameters" element="tns:setTrackResponse"/>
  </message>
  <portType name="OrderWebService">
    <operation name="getAllOrders">
      <input ns1:Action="http://orderWebService.eshop.ru/OrderWebService/getAllOrdersRequest" message="tns:getAllOrders" xmlns:ns1="http://www.w3.org/200 7/05/addressing/metadata"/>
      <output ns2:Action="http://orderWebService.eshop.ru/OrderWebService/getAllOrdersResponse" message="tns:getAllOrdersResponse" xmlns:ns2="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="getOrderDetails">
      <input ns3:Action="http://orderWebService.eshop.ru/OrderWebService/getOrderDetailsRequest" message="tns:getOrderDetails" xmlns:ns3="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns4:Action="http://orderWebService.eshop.ru/OrderWebService/getOrderDetailsResponse" message="tns:getOrderDetailsResponse" xmlns:ns4="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="setTrack">
      <input ns5:Action="http://orderWebService.eshop.ru/OrderWebService/setTrackRequest" message="tns:setTrack" xmlns:ns5="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns6:Action="http://orderWebService.eshop.ru/OrderWebService/setTrackResponse" message="tns:setTrackResponse" xmlns:ns6="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
  </portType>
</definitions>

